.ab {
  height: 400px;
  background-image: url("../img/sales.jpg");
  background-position: center;
  color: white;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.div {
  background: linear-gradient(to right, #c5f2fa, #fabfd7);
  padding: 40px;
  color: black;
}
.serve .col {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  background-color: white;
}
.too {
  height: 400px;
  background-image: url("../img/truck2.avif");
  background-position: center;
  color: white;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7); /* Black with 50% opacity */
  background-blend-mode: multiply;
}
